* {
  margin: 5;
  padding: 5;
  border: none;
  font-family: Arial, sans-serif;

}

body {
  font-size: 15px;
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
    z-index: -99;
}

h1 {
    color: white;

}

.active {
    color: white;
}

.validate {
    border: 2px solid #456879;
	border-radius: 10px;
	height: 22px;
	width: 70px;

}

.validate_name {
    border: 2px solid #456879;
	border-radius: 10px;
	height: 22px;
	width: 170px;

}

.submit {
    border: 2px solid #456879;
	border-radius: 10px;
	height: 32px;
	width: 180px;

}
