* {
  margin: 5;
  padding: 5;
  border: none;
  font-family: Arial, sans-serif;

}

body {
  font-size: 15px;
  background-color: black;
  color: #EEE;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
    z-index: -99;
}

img.cake {
    position: absolute;
    top: -15%;
    left: 90%; 
    transform: translate(-50%, -50%);
    width: 30%;
    opacity: 0.8;
    z-index: -99;
}

h1 {
    color: white;
    font-size: 5vw;

}

h4 { 
    color: white;
}

div.border {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: #b0b0b0;
}

.active {
    color: white;
}

.validate {
    border: 2px solid #456879;
	border-radius: 10px;
	height: 22px;
	width: 70px;

}

.validate_name {
    border: 2px solid #456879;
	border-radius: 10px;
	height: 22px;
	width: 170px;

}

.submit {
    border: 2px solid #456879;
	border-radius: 10px;
	height: 32px;
	width: 180px;

}
