<html>
{% import "bootstrap/google.html" as google %}

	<head>
	{% block scripts %}	
	{{google.uanalytics('UA-144984973-2')}}
	{% endblock %}
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/birthday.css') }}">

    </head>

            <img src="{{url_for('static', filename='galaxy.png')}}">
    <body>
        <div>
            <h1>Give us your birthday (on Earth)</h1>
            <div class="oval"></div>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>

