{% extends "base.html" %}

{% block header %}
  {{ super() }}
  <h1>{% block title %}Give us your birthday (on Earth){% endblock %}</h1>
{% endblock %}

{% block scripts %}
      {{ super() }}
{% endblock %}

{% block content %}
  <form method="post">
	{{ form.name.label(class_='active') }}<br>
	{{ form.name(class_='validate_name') }} <br>
	{{ form.birthyear.label(class_='active') }}	
	{{ form.birthyear(class_='validate') }}
	{{ form.birthmonth.label(class_='active') }}	
	{{ form.birthmonth(class_='validate') }}	
	{{ form.birthday.label(class_='active') }}	
	{{ form.birthday(class_='validate') }}	<br>
	{{ form.mercury_stagger.label(class_='active') }}
	{{ form.mercury_stagger(class_='validate') }}
	{{ form.venus_stagger.label(class_='active') }}
	{{ form.venus_stagger(class_='validate') }}<br> <br>
	
	{{ form.cal_start.label(class_='active') }}
	{{ form.cal_start(class_='validate') }}
	{{ form.cal_end.label(class_='active') }}
	{{ form.cal_end(class_='validate') }}<br><br>

	<p>{{ form.submit(class_='submit') }} </p>
  </form>
            <div class="footer active">

  <p>Made in a hack session at <a href="http://openastronomy.org/pyastro/2019/" target="_blank">Python in Astronomy 2019.</a></p>
            </div>

  {% endblock %}

