{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Give us your birthday (on Earth){% endblock %}</h1>
{% endblock %}

{% block scripts %}
      {{ super() }}
      {{ datepicker.loader() }} {# to load jQuery-ui #}
      {{ datepicker.picker(id=".dp") }}
{% endblock %}

{% block content %}
  <form method="post">
	{{ form.name.label(class_='active') }}<br>
	{{ form.name(class_='validate_name') }} <br>
	{{ form.birthyear.label(class_='active') }}	
	{{ form.birthyear(class_='validate') }}
	{{ form.birthmonth.label(class_='active') }}	
	{{ form.birthmonth(class_='validate') }}	
	{{ form.birthday.label(class_='active') }}	
	{{ form.birthday(class_='validate') }}	
	
	<p>{{ form.submit(class_='submit') }} </p>
  </form>
  {% endblock %}
